
<%= error_messages_for :transaction %>

  <p><label>Date:<br />
  <%= date_select :transaction, :date, :order => [:day, :month, :year] %></label></p>

  <p><label>Amount:<br />
  <%= text_field :transaction, :amount %></label></p>

  <p><label>Text:<br />
  <%= text_field :transaction, :text %></label></p>

  <%= hidden_field :transaction, :statement_id %>

  <p><label>Tag:<br />
  <%= collection_select :transaction, :currtagid, Tag.all, :id, :name, {:prompt => true} %>
