<h1>Listing transactions</h1>

<ul>
<li>Look at speeding up transaction index page
<li>Consider adding current_tag column to transaction 
<li>Patterns:
<li>Adding pattern should tag untagged transactions
<li>Editing pattern should update tagged transactions. How to track which have been applied? Extra column in tag_assignments? Or use patternid instead of tagid in transaction?
<li>Destroying pattern should delete tags in transactions. As above
</ul>

<%
@tagnames.each do |tagname| 
  if @grouped_transactions.has_key?(tagname)
    # get the transactions for this tag
    transactions = @grouped_transactions[tagname]
  else
    # no transactions assigned, go to next tag
    next
  end
%>

<h2><%=tagname%></h2>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Text</th>
    <th>Tag</th>
    <th colspan="3">Options</th>
  </tr>
<% transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td class="<%=
    transaction.credit? ? "credit" : "debit"
    %>"><%= transaction.amount %></td> 
    <td><%= transaction.text.split.map{|w| w.capitalize}.join ' ' %></td>
    <td><%= transaction.tag.name %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', destroy_transaction_path(transaction), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%
credits = Transaction.get_credits(transactions)
debits = Transaction.get_debits(transactions)
%>
Credits: <strong><%= Transaction.total_amount(credits) %></strong><br />
Debits: <strong><%= Transaction.total_amount(debits) %></strong><br />
Total: <strong><%= Transaction.total_amount(transactions) %></strong><br />
<% end %>


<p>
<%= link_to 'New transaction', new_transaction_path %>
</p>
