<h1>Listing transactions</h1>

<p>
Change grouped_transaction to an array so it can be sorted?
Update tr.tag so it returns tag object instead of tag name,
need to solve issue with whiny nils.
Solve issue with raising exception in group_by_tags
</p>

<% @grouped_transaction.each do |tag,transactions| %>

<h2><%=tag%></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Text</th>
    <th>Tag</th>
  </tr>
<% transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.text.split.map{|w| w.capitalize}.join ' ' %></td>
    <td><%= transaction.tag %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', destroy_transaction_path(transaction), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>


<p>
<%= link_to 'New transaction', new_transaction_path %>
</p>
