<h1>Listing transactions</h1>

<p>
Look at speeding up transaction index page
Consider adding current_tag column to transaction 
</p>

<%
@tagnames.each do |tagname| 
  if @grouped_transactions.has_key?(tagname)
    # get the transactions for this tag
    transactions = @grouped_transactions[tagname]
  else
    # no transactions assigned, go to next tag
    next
  end
%>

<h2><%=tagname%></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Text</th>
    <th>Tag</th>
  </tr>
<% transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.text.split.map{|w| w.capitalize}.join ' ' %></td>
    <td><%= transaction.tag.name %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', destroy_transaction_path(transaction), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>


<p>
<%= link_to 'New transaction', new_transaction_path %>
</p>
