<html>
<head>
  <title>My application</title>
<%= stylesheet_tags %>
<%= javascript_tags %>
</head>
<body>
<p>
<%= nav_links %>
</p>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>

